.blogPost {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 880px;
  margin: 0 auto;
  color: #edf5e1;

  h1 {
    color: #05386b;
  }

  h2 {
    color: #05386b;
  }

  .blogPostContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  li {
    color: #05386b;
    a {
      color: #05386b;
    }
  }
}
