@import "../../variables";

a {
  color: $blue-300;
}

.aboutSection {
  max-width: 80%;
  margin: 0 auto;

  .firstLine {
    color: $blue-300;
    font-size: 1.25em;
  }
}

p {
  color: $teal-200;
}
