@import "../../variables";

nav {
  max-width: 90%;
  margin: 0 auto;
  .navItem {
    margin: 10px;
  }
  a {
    color: $blue-200;
    font-size: 1.25rem;
  }
  ul {
    all: unset;
    list-style: none;
    display: flex;
    justify-content: space-between;
  }
  .icon {
    color: $blue-200;
    height: 1.25rem;
    width: 1.25rem;
    margin-top: 12px;
  }
  .secondMenu {
    display: flex;
  }
}
