nav {
  max-width: 85%;
  margin: 0 auto;
  .navItem {
    margin: 10px;
  }
  a {
    color: #05386b;
    font-size: 1.15rem;
  }
  ul {
    all: unset;
    list-style: none;
    display: flex;
    justify-content: space-between;
  }
  .icon {
    color: #05386b;
    height: 1.15rem;
    width: 1.15rem;
  }
  .secondMenu {
    display: flex;
  }
}
