nav {
  a {
    color: #05386b;
  }
  ul {
    all: unset;
    list-style: none;
    display: flex;
    justify-content: space-between;
  }
  .icon {
    color: #05386b;
    size: 1.5em;
  }
  .secondMenu {
    display: flex;
  }
}
