.title {
  color: #05386b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 880px;
  margin: 0 auto;
}

.blogPost {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 85%;
  margin: 0 auto;
  color: #edf5e1;

  h2 {
    color: #05386b;
  }

  main {
    width: 85%;

    pre {
      overflow: auto;
    }
  }

  .blogPostContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
      max-width: 75%;
    }

    a {
      color: #05386b;
    }
  }

  li {
    color: #05386b;
    a {
      color: #05386b;
    }
  }
}
