.title {
  color: #05386b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 80%;
  margin: 0 auto;
}

.blogPost {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 90%;
  margin: 0 auto;
  color: #edf5e1;

  img {
    max-width: 75%;
    margin-top: 10px;
  }

  h2 {
    color: #05386b;
  }

  main {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    pre {
      margin: 0 auto;
      width: 100%;
      overflow: auto;
    }
  }

  li {
    color: #05386b;
    a {
      color: #05386b;
    }
  }
}
