$teal-100: hsl(162, 10%, 10%);
$teal-200: hsl(162, 20%, 20%);
$teal-300: hsl(162, 30%, 30%);
$teal-400: hsl(162, 40%, 40%);
$teal-500: hsl(162, 50%, 50%);
$teal-600: hsl(162, 60%, 60%);
$teal-700: hsl(162, 70%, 70%);
$teal-800: hsl(162, 80%, 80%);
$teal-900: hsl(162, 90%, 90%);

$blue-100: hsl(195, 10%, 10%);
$blue-200: hsl(195, 20%, 20%);
$blue-300: hsl(195, 30%, 25%);
$blue-400: hsl(195, 40%, 40%);
$blue-500: hsl(195, 50%, 50%);
$blue-600: hsl(195, 60%, 60%);
$blue-700: hsl(195, 70%, 70%);
$blue-800: hsl(195, 80%, 80%);
$blue-900: hsl(195, 90%, 90%);

$green-100: hsl(133, 10%, 10%);
$green-200: hsl(133, 20%, 20%);
$green-300: hsl(133, 30%, 30%);
$green-400: hsl(133, 40%, 40%);
$green-500: hsl(133, 50%, 50%);
$green-600: hsl(133, 60%, 60%);
$green-700: hsl(133, 70%, 70%);
$green-800: hsl(133, 80%, 80%);
$green-900: hsl(133, 90%, 90%);
